@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background: url("/assets/img/fundoback2.jpg") no-repeat;
    background-size: cover;
}

/* Profile Card */

.profile {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.477);
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 1px solid transparent;
    background: url("/assets/img/fundo3.jpg") no-repeat;
    background-size: cover;
}


#photo {
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 46.5px;
    left: 90px;
}

#language {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: absolute;
    bottom: 110px;
    border-radius: 9px;
    background-color: rgba(245, 245, 245, 0.89);
    border: 6px groove rgba(222, 149, 4, 0.849);
}


h3 {
    display: flex;
    position: absolute;
    top: 270px;
    color: rgb(0, 234, 255);
    font-size: 1.12rem; 
}

.back {
    z-index: 0;
    background: url("/assets/img/fundo3.jpg") no-repeat;
    background-size: cover;
}


.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: inset 0.5px 0.5px 1.8px rgba(0, 0, 0, 0.301);
}


.back-content {
    transform: rotateY(180deg);
}

/* Page flip effect */

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s ease;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #2aff12;
}

i {
    font-size: 50px;
    color: rgb(240, 233, 8);
}

/* Pages stack order */

#p1 {
    z-index: 3;
    text-align: center;
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#b1 {
    text-align: justify;
    font-size: 0.6rem;
    position: relative;  
}

#f2 {
    text-align: left;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
}

span h1 {
    font-size: 1rem;
}

#b2 {
    text-align: center;
    font-size: 0.6rem;
    position: relative;  
    color: white;
    text-shadow: 1px 1px 2px black;      
}

#f3, h1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.2rem;
    position: relative;  
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;  
}

a {
   text-decoration: none;
}

#b3 img {
    width: 35%;
}

.button {
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.button:hover {
    transform: scale(1.4);
}